html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;  
  align-items: center;
  background-color: olivedrab;
  height: 100vh;
}